<div class="text-center">
    <h1 class="display-4">Add filter word</h1>
    <form method="post">
        <button type="submit">Push</button>
    </form>
    <h6>@Html.Raw(ViewBag.LastBackUp)</h6>
</div>