<div class="text-center">
    <h1 class="display-4">Add filter word</h1>
    <form method="post">
        <input name="newWord" style="width:800px; font-size:14pt;" type="text"/>
        <button type="submit">Push</button>
    </form>
    <h6>@Html.Raw(ViewBag.ResultFilter)</h6>
</div>
