@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pablo</h1>
    <p>Learn about <a href="https://discord.com/developers/docs/intro">building discord bot with FAQ</a>.</p>
     <video width="320" height="240" controls>
      <source src="../Assets/videoplayback.webm" type=video/mp4>
    </video>
</div>
