<div class="text-center">
    <h1 class="display-4">Create SQL Query</h1>
    <form method="post">
        <input name="query" style="width:800px; font-size:14pt;" type="text"/>
        <button type="submit">Push</button>
    </form>
    <h6>@Html.Raw(ViewBag.Result)</h6>
</div>